<!DOCTYPE html>
<html>
<body>

<p> Registration </p>
<br>

<form action="/start" method="POST">
<fieldset>
Your name:<br>
<input type="text" name="name"><br>
Password:<br>
<input type="password" name="pass"><br><br>
<input type="submit" value="Submit">
<br>
</form>
</fieldset>

</body>
</html>
